* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.logo {
    display: flex;
    width: 40vw;
    height: 70px;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 90vh;
    padding: 30px 0 0 0;
}

p, h1 {
    cursor: default;
}

button.return-btn {
    height: 75px;
    width: 40px;
}

button.return-btn:hover, a.return-btn:hover {
    color: rgb(90, 61, 30) !important;
}

button {
    background-color: transparent;
    border-style: none;
    border-radius: 30px;
    height: 160px;
    width: 160px;
}

#buttonRockP1:hover, #buttonPaperP1:hover, #buttonScissorsP1:hover {
    background-color: rgb(200, 200, 200) !important;
}

.buttonCOM {
    pointer-events: none;
}

/* The Result */
.the-result {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 130px;
    font-size: 32px;
    color: white;
    border-radius: 10px;
    background-color: #4C9654;
    transform: rotate(-28.87deg);
    margin: 0 -50px;
}

.draw {
    background-color: #035B0C;
}