body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: black;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Arial';
  cursor: default;
}

/* Main Content */
.bg-image-1 {
  background-image: url("../assets/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 135vh 50px;
}

nav {
  background-color: rgba(10, 10, 10, 0.6);
  font-size: 12px;
  letter-spacing: 0.2rem;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

div.content {
    height: 125vh;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
}

h3.experience {
  letter-spacing: 0.15rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button {
  background-color: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px !important;
  font-size: 16px;
  font-weight: 700;
}

/* Second Content */
.bg-image-2 {
  background-image: url("../assets/the-games-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 150vh;
}

h2 {
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 3px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 20px;
  background-image: url('../assets/ellipse-outline.svg');
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: -30px;
  bottom: 2.5%;
}

.dot:hover, .dot:active, div.active  {
  background-image: url('../assets/ellipse.svg');
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Third Content */
.bg-image-3 {
  background-image: url("../assets/features.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 120vh;
}

.blank {
  height: 100%;
}

.third-content-container {
  height: 100%;
  margin-left: 570px;
}

.features-list {
  list-style-position: outside;
  list-style-type: circle;
  letter-spacing: .1rem;
}

ul.features-list {
  list-style-image: url('/..assets/ellipse-outline.svg');
}

li.traditional-games {
  list-style-image: url('../assets/ellipse.svg');
  position: relative;
}

/* Vertical Line */
.vertical-line::after {
  content: '';
  position: absolute;
  display: block;
  /* top: 1px; */
  right: 0%;
  bottom: 10px;
  left: -3.8%;
  height: 70px;
  width: 1px;
  transform: scale(1,2);
  transform-origin: 50% -100%;
  background-color: white;
  z-index: 1;
}

.orange-text{
  color: #FFB548;
  text-transform: uppercase;
}

/* Fourth Content */
.bg-image-4 {
  background-image: url("../assets/requirements.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 140vh;
}

.part1-4thcontent {
  height: 25vh;
  letter-spacing: 0.1rem;
}

.part2-4thcontent {
  height: 100vh;
  /* width: 90vw; */
  width: 90%;
  padding-top: 80px;
}

/* Table */
table, th, td {
  border: 1px solid rgb(60, 60, 60);
  border-collapse: collapse;
  height: 140px;
  width: 45%;
  text-align: left;
  padding-left: 20px;
}

/* Fifth Content */
.bg-image-5 {
  background-image: url("../assets/top-score-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 120vh;
}

.fifth-content {
  background-image: url("../assets/top-score-bg\(2\).png");
  height: 100%;
}

.top-scores-1 {
  width: 41%;
  margin-left: 140px;
}

.top-scores-2 {
  width: 50%;
}

.card {
  background-color: #1d1d1d;
  width: 30vw;
  height: 25vh;
}

.date-topscore {
  font-size: 14px;
  color : #1d1d1d;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-twt {
  vertical-align: middle;
  width: 25px;
  height: 20px;
}

/* Sixth Content */
.bg-image-6 {
  background-image: url("../assets/newsletter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 130vh;
}

.form-control {
  background-color: #1d1d1d;
}

#floatingInputValue {
  background-color: #1d1d1d;
  color: #ffad33;
  border: none;
}

#skull {
  -webkit-mask-image: radial-gradient(circle, black, black, transparent);
  mask-image: radial-gradient(circle, black, black, transparent);
}

/* Footer */
a.footer-list {
  color:white;
}

a.footer-list:link {
  text-decoration: none;
}

a.footer-list:visited {
  text-decoration: none;
}

a.footer-list:hover {
  text-decoration: none;
}

a.footer-list:active {
  text-decoration: none;
}


/* For Mobile */
@media screen and (max-width: 576px) {
  body {
    font-size: 12px !important;
    letter-spacing: 0.04rem !important;
  }

  .bg-image-1 {
    background-position: center;
    height: 100vh;
  }

  .bg-image-2 {
    background-position: 25%;
    height: 100vh;
  }

  .bg-image-3 {
    background-position-x: 40%;
    background-position-y: 10%;
    height: 100vh;
  }

  .blank {
    background-color: #10101063;
    background-image: none !important;
  }

  .bg-image-4 {
    height: 100vh;
    background-position-x: 55%;
  }

  .bg-image-5 {
    height: 100vh;
  }

  .bg-image-6 {
    height: 100vh !important;
  }

  /* Main Content */
  nav {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }

  div.content {
    height: 92.5%;
  }

  a.logo {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  h1 {
    font-size: 25px;
    letter-spacing: 0.2rem;
  }

  h1.font-bebas-neue {
    margin-bottom: 13px;
  }

  h2 {
    font-size: 21px;
    letter-spacing: 0.15rem;
  }

  h3 {
    font-size: 16px;
    letter-spacing: 0.1rem;
  }

  h3.experience {
    letter-spacing: 0.1rem;
    margin-top: 12px;
    margin-bottom: 10px;
  }

  button.button {
    width: 150px;
    padding: 14px 12px !important;
    font-size: 12px;
  }

  /* Second Content */
  .second-content {
    display: flex;
    flex-direction: column !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  div.the-games {
    margin-bottom: 10px !important;
    margin-right: 100px !important;
  }

  .slideshow-container {
    width: 300px;
    margin-top: 10px;
  }

  svg {
    width: 14px;
    height: 16px;
  }

  .next, .prev {
    top: 35%;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: -20px;
    bottom: 2.5%;
    margin: 0 2px;
  }

  /* Third Content */
  .third-content-container {
    margin-left: 100px;
  }

  div.features-container {
    margin-bottom: 0 !important;
  }

  .features-list {
    letter-spacing: 0.07rem;
    /* letter-spacing: 0.1rem; */
  }

  /* Vertical Line */
  .vertical-line::after {
    content: '';
    position: absolute;
    display: block;
    /* top: 1px; */
    right: 0%;
    bottom: 10px;
    left: -5.4%;
    height: 60px;
    width: 1px;
    transform: scale(1,2);
    transform-origin: 50% -100%;
    background-color: white;
    z-index: 1;
  }

  /* Fourth Content */
  .part1-4thcontent {
    height: 15%;
  }

  .part2-4thcontent {
    height: 85%;
    width: 100% !important;
    position: absolute;
    left: 30px;
    
    
  }

  /* Table */
  table.table-requirements {
    margin-top: 30px !important;
  }

  td {
    padding-left: 10px;
  }

  td p {
    margin-bottom: 10px;
  }

  /* Fifth Content */
  .fifth-content {
    display: flex;
    flex-direction: column;
  }

  .top-scores-1 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .top-scores-1 h2, .top-scores-1 p, .top-scores-1 div {
    margin: 10px 0 !important;
  }

  .top-scores-2 {
    margin-top: 20px;
    width: 100%;
    height: 72%;
  }

  .card {
    width: 60vw;
    margin: 0 30px 10px 30px !important;
  }

  .date-topscore {
    font-size: 12px;
  }

  /* Sixth Content */
  .part1-6thcontent {
    height: 90% !important;
    margin: 0 0 !important;
  }

  #skull {
    display: none;
  }

  .newsletter {
    margin: 0 30px !important;
    background-image: url('../assets/skull.png');
    background-attachment: scroll;
    background-size: 80%;
    background-position: 85% 15% !important;
    background-repeat: no-repeat;
  }

  .newsletter p {
    margin-bottom: 0 !important;
  } 

  .form-container {
    margin-top: 30px !important;
  }

  /* Footer */
  .footer {
    height: 10% !important;
    margin: 0 30px !important;
    font-size: 8px !important;
  }

  .part1-footer {
    height: 50% !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-nav {
    margin-right: 0px !important;
  }

  a.footer-list {
    margin: 0 5px !important;
  }

  .socialmedia {
    margin-left: 0px !important;
  }

  .item-sosmed {
    margin: 0 30px !important;
  }

  .part2-footer {
    height: 50% !important;
    font-size: 8px !important;
  }

  .privacy-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 !important;
    margin: 0 0 16px 0 !important;
  }
}